<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <!-- metaはnameを指定して、それに関わるいろんな設定をいじれる.
        viewpointの場合は文書の表示領域。widhは大きさ。initia-scaleは画面の拡大率の初期値-->
        <title>アンサ：トップページ</title>
        <!-- bootstrap.css load -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <!-- nabはナビゲーションを表す -->
        <!-- navbar-iverseは背景色をセット -->
        <!-- navbar-fixed-topはナビゲーションを画面上に固定 -->
        <!--  <nav class="navbar navbar-inverse navbar-fixed-top">-->
        <!-- ナビゲーションの背景を青に変更 -->
        <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
            <!-- <div class="navbar-header">-->
                <!-- navbar-header ナビゲーションの内部にヘッダを配置する時のレイアウトを指定。 -->
                <a class="navbar-brand" href="/">アンサ</a>
                <!-- navbar-brandでリンクにする？ -->
            <!--  </div> -->
        </nav>
    </body>
    <!-- jQuery.js load -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- popper.js load -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</html>
