{% extends "layout.html"}<!-- 親のテンプレートを指定 -->
{% block body %}<!-- 子田プレートの内容を定義 -->
{% if session.logged_in %}
<!-- formタグは、入力・送信フォーウを作るときに使用する要素 -->
<!-- methodは、サーバにデータを送る形式を指定。 postだとデータは本文として送られる。-->
<!-- actionはデータの送信先をURLで指定 -->
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl><!--definition list 定義リストを表す。<dt=definition termで定義する用語、<dd=definition descriptionで用語の説明を表す。 -->
        <dt>Title:</dt>
        <dd><input type=text size=30 name=title></dd>
        <dt>Text:</dt>
        <dd><textarea name=text rows=5 cols=40></textarea></dd><!-- 複数行の入力が可能な入力欄を悪性 -->
        <dd><input type=submit value=Share></dd>       <!-- form内部でテキスト入力やボタンなどを作成する -->
    </dl>
</form>
{% endif %}
<ul class=entries>
    {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
    {% else}
    <li><em>unbelievable. Noentries here so far</em></li><!-- emphasis囲った部分が強調される。 -->
    {% endfor %}
</ul>
{% endblodk}
