<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <!-- metaはnameを指定して、それに関わるいろんな設定をいじれる.
             viewpointの場合は文書の表示領域。widhは大きさ。initia-scaleは画面の拡大率の初期値-->
        <title>アンサ：トップページ</title>
        <!-- bootstrap.css load -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <!-- nabはナビゲーションを表す -->
        <!-- navbar-iverseは背景色をセット -->
        <!-- navbar-fixed-topはナビゲーションを画面上に固定 -->
        <!--  <nav class="navbar navbar-inverse navbar-fixed-top">-->
        <!-- ナビゲーションの背景を青に変更 -->
        <!-- expandが折りたたみようなのはわかったけどlg謎 -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <!-- <div class="navbar-header">-->
            <!-- navbar-header ナビゲーションの内部にヘッダを配置する時のレイアウトを指定。 -->
            <!-- navbar-brandはブランド名つまりロゴ -->
            <!-- togglerは折りたたみ式のメニューぼたん -->
            <!-- data-toggle=collapseは折りたたみボタンに必須collapseは、潰れるって意味があるからかな -->
            <a class="navbar-brand" href="/">アンサ</a>
            <!-- botton出なくbutton、また、navbar-toggler-icon toggleではない -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <!-- navbar-navは正直意味不明。保留 要するにナビゲーションのためのバーなんだろうなあ。よくわからんが-->
                <ul class="navbar-nav mr-auto">
                    <!-- おそらく、バーを構成するitem activeなら有効 -->
                    <li class="nav-item active">
                        <!-- なんかよくわからんが、nav-linkで、navigationの中でのリンクになるんだろうなあ -->
                        <!-- spanは特に意味ないけど、囲ったところがグループ化されるまあ、その部分だけフォント変えたりできるよ-->
                        <!-- sr-onlyでスクリーンリーダ以外で非表示に。スクリーンリーダはPCの画面読み出しソフト。まあ、つまりPCの画面だけで表示ってことかな -->
                        <a class="nav-link" href="/">ホーム<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">アンサについて</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/question">質問</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a href="/login" class="btn btn-primary"> ログイン</a>
                </span>
            </div>
            <!--  </div> -->
        </nav>
        <!-- コンテンツ本体 -->
        <!-- jumbotronを使う -->
        <div class="jumbotron">
            <div class="row"> <!-- rowは行数.今回は1個 -->
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                    <!--  colというprefixのついたクラスで指定 -->
                    <!-- sm=small lg=largeって感じ -->
                    <!-- 12個のグリッドのうち、指定した数がが使われる -->
                    <!-- 多分、rowの中にcolが二つある時、二つを足して12になるなら
                    横並び、ならないなら2row目に置くんだろうなあ-->
                    <h1>Thema example</h1>
                    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">                 
                    <img src="https://2.bp.blogspot.com/-Vo_Zg1TcAz8/V5NDnu2l8WI/AAAAAAAA8dQ/bVr8Ybi7k9oSX8MH0Af9Kvv5MzW-ccwJQCLcB/s500/ai_pet_family.png" class="img-thumbnail" width="200" height="200" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera"/>
                    <!-- altはalternative。画像が表示できない時に代わりに表示するテキスト -->
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                    <img class="img-thumbnail" style="min-width:36px" src="https://1.bp.blogspot.com/-5-11YZc1QHY/VEETakWIAjI/AAAAAAAAoe4/P08X6ozwLbM/s400/jiko_veranda.png">
                </div>
                <div class="col-10 col-sm-11 col-md-11 col-lg-11">
                    <div class="card text-center"> <!-- メッセージを入れるブロック要素 -->
                        <div class="card-body"> <!-- divにして、適切な余白をメッセージに設定 -->
                            <!-- divは中身をブロック要素としてグループ化できる -->
                            <p class="card-text">質問や回答を入れるための箱です。</p>
                            <a href="/reply/l" class="btn btn-primary">返信する</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>            
    </body>
    <!-- jQuery.js load -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- popper.js load -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</html>
